body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf0af;
}

table {
  margin: 50px auto;
  border-collapse: collapse;
  cursor: pointer;
}

td {
  border: solid black 3px;
  padding: 20px;
  width: 20px;
  height: 64px;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

#decision {
  text-align: center;
}

#restart {
  margin: 0 auto;
  display: block;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 8px;
  background-color: #30475e;
  cursor: pointer;
}
