body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffe0e0;
  color: #6b7b8e;
}

#app {
  width: 50%;
  margin: auto;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

ul {
  padding-left: 0px;
}

div {
  margin-top: 10px;
}